.search-container {
  position: relative;

  .dropdown-container {
    position: absolute;
    width: 100%;
  }
  
  .dropdown {
    border: 1px solid black;
    border-top: 0;
    background-color: white; 
    .item {
      padding: 7px;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid black;

    input {
      flex: 1;
      border: 0;
      padding: 7px;
      font-size: 1em;
    }

    .reset-btn {
      padding: 0 7px;
    }
  }
}