.search-container {
  position: relative;
  margin-bottom: 20px;

  .dropdown-container {
    position: absolute;
    width: 100%;
  }
  
  .dropdown {
    border: 1px solid black;
    border-top: 0;
    background-color: white;
    padding: 6px 0;
    .item {
      padding: 12px;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    border: 0;
    border-bottom: 1px solid black;

    input {
      flex: 1;
      border: 0;
      padding: 5px;
      font-size: 1.2em;
    }

    .reset-btn {
      padding: 0 7px;
    }
  }
}