@import "./utils/variables";
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400&display=swap');


.App {
  padding: 1em;
  font-family: 'Quattrocento Sans', sans-serif;
  color: $black;

  @media screen and (min-width: 450px) {
    max-width: 550px;
  }
}

a {
  color: $purple;
}

[role="button"] {
  cursor: pointer;
}

input {
  font-family: 'Quattrocento Sans', sans-serif;
}

small {
  font-size: 0.85em;
}

header {
  margin-bottom: 30px;
  
  h1 {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.error {
  color: $red;
}

.repos-header {
  margin-bottom: 20px;

  .title {
    display: flex;
    align-items: center;

    h2 {
      margin: 2px 0;
    }
  }
}