$blue: #8dcfd8;

.App {
  padding: 1em;
}

small {
  font-size: 0.75em;
}

div[role="button"] {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
  h1 {
    margin: 0;
  }
}

main {
  @media screen and (min-width: 800px) {
    display: flex;
  }

  .repos-column {
    @media screen and (min-width: 800px) {
      width: 396px;
    }
  }
}

.sync-icon-container {
  text-align: center;
  margin-left: 10px;
}
