@import "../../utils/variables";

.sync-btn {
  text-align: center;
  margin-left: 8px;
}

@keyframes rotate1 {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}
  
@keyframes rotate2 {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}
  
.rotate {
  animation-name:            rotate1; 
  animation-duration:        1.25s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
  
.rotate-once {
  animation-name:            rotate2; 
  animation-duration:        1.25s; 
  animation-iteration-count: 0.5;
  animation-timing-function: linear;
}